<nav class="navbar fixed-bottom navbar-light bg-light">
  <a class="navbar-brand" href="#">Developed and Designed by Sam Walden</a>
  <a href = "https://www.facebook.com/sam.walden.56"><i class="fa fa-facebook-official"></i></a>
  <a><i class="fa fa-instagram"</a></i>
  <a><i class="fa fa-twitter"</a></i>
</nav>