<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="/images/sam.JPG" class="img-responsive">
        </div>
        <div class="col-sm-4">
            <h1>About me</h1>
            <p>Hi, this is Sam, I'm a web developer</p>
        </div>        
    </div>
</div>