<div id= "about" class="container">
    <div class="row">
        <!--<div class="col-sm-4">
            <img src="/images/sam.JPG" class="img-responsive">
        </div>-->    
         <style>
        body {
             background-image: url('/images/sam.JPG') ;           
            background-repeat:no-repeat;
            background-position: center center;
            background-attachment: fixed;      
             background-size: cover;                           
        }
        </style>  
        <div class="text1">           
            <!--<h1>About me</h1>-->
            <p1>
                Hello there, this is Sam, I'm a full stack developer I use Nodejs,<br> Expressjs to build server side(back-end)
                and I use html,<br> css/bootstrap and javascript to build client side(front-end)
            </p1>
        </div>        
    </div>
</div>