<div id= "homepage" class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="/css/wallpaper-1.jpg" class="img-responsive">
        </div> 

        <style>
            body {
                background-image: url('/images/wallpaper-3.jpg');
                background-repeat:no-repeat;
                background-position: center center;
                background-attachment: fixed;      
                background-size: cover; 
                background-size: contain ;
                
            }     

        </style>    
    <div class="col-sm-4">        
            <h1>Welcome To My Website</h1>  
            <h3>Sam Walden</h3>
            <h4>Full-Stack Web Developer</h4>
            <p>If you need website, feel free to <a href="/contact"> contact me</a></p>       
    </div>
    </div>
</div>