<div id= "homepage" class="container">  
    <style>
        body {
            background-image: url('/css/wallpaper-1.jpg');
            background-size: cover;
        }
    </style>    
    <h1><span>Welcome To My Website</span></h1>  
    <h3>Sam Walden</h3>
    <h4>Full-Stack Web Developer</h4>
    <p>If you need website, feel free to <a href="/contact"> contact me</a></p>
    
</div>