
h3,h4,p{
    text-align: center;
    color: rgb(218, 214, 218);
    font-size: 20px;
    font-weight:900; 
}

.para{
    font-size: 30px;
}
#main{
    margin-top: 50px;
    margin-bottom: 20px;
}

img{
    width: 200px;
    height:auto;   
    
}

#homepage h1{
    color: rgb(255, 2, 2);   
    font-size: 25px;
    font-weight:900; 
}

#about p1{     
    color:black;  
    font-size: 22px;
    font-weight:900;   
      
}
#contact {
    background: rgb(199, 200, 202);    
  }

