

h3,h4,p{
    text-align: center;
    color: thistle;
}
.para{
    font-size: 30px;
}
#main{
    margin-top: 50px;
    margin-bottom: 20px;
}

#homepage {
    color: rgb(179, 52, 58);
    position: absolute;
    top:25%;
    right: -45%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    text-align: center;    
}

.text1 p1{     
    color:black;  
    border: 1px solid green ;    
}

#about {    
    position: absolute;
    top:60%;
    left: 45%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    text-align: justify;    
    font-size: 22px;
    font-weight:750;    
}

